.App {
  width: 100%;
  background-image: url("../public/124383.jpg");
  object-fit: contain;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background-color: black;
  opacity: 0.4;
  height: 100vh;
  width: 100%;
  position: absolute;
}
button {
  background-color: black; /* Green */
  border: none;
  opacity: 0.7;
  cursor: pointer;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
}
button:hover {
  border-bottom: solid 1px orange;
  color: white;
}
